<li data-nf-id="{{ notification.id }}"
class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
    <a href="/{{ notification.description }}/detail/{{ notification.target.id }}">{{ notification.actor.username }}</a> {{ notification.verb }}
    <span class="timesince">{{ notification.created|timesince }} ago</span>
    {{ notification.verb2 }}
    <button data-id="{{ notification.id }}" class="mark-notification"
        data-mark-action="{{ notification.read|yesno:'unread,read' }}"
        data-toggle-text="Mark as {{ notification.read|yesno:_('read,unread') }}">

        Mark as {{ notification.read|yesno:'unread,read' }}

    </button>
    <button class="delete-notification" data-id="{{ notification.id }}">X</button>
</li>