{% extends 'base.html' %}

{% block title %}electronic의 detail{% endblock %} <!--얘는 그 head 에 쓰는 타이틀이에요-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block content %}
    <p>electronic의 detail</p>

    <div class="btn-group">
        {% if post.user.username == request.user.username %}
            <a href="{% url 'electronic:edit' post.id %}" class="btn btn-default">수정하기</a>
        {% endif %}
        {% if request.user.is_superuser or post.user.username == request.user.username %}
            <a href="{% url 'electronic:delete' post.id %}"  class="btn btn-default">삭제하기</a>
        {% endif %}
        <a href="{% url 'electronic:index' %}"  class="btn btn-default">목록으로</a>
    </div>
    <div class="page-header">
            <h1>{{post.title|safe}} <small>{{post.updated_at|safe}}</small></h1>
            <hr> <br>
            <h3>{{post.content|safe}}</h3>
          </div> <br><br><br>
    
  
    {% for firstcomment in firstcomments %}
        {{ firstcomment.text }}
        {% if firstcomment.text != '삭제된 댓글입니다' %}
            {% if firstcomment.user == request.user.username or request.user.is_superuser %}
                <a class="glyphicon glyphicon-remove" aria-hidden="true" href="{% url 'electronic:delete_comment' post.id firstcomment.id %}" ></a>
            {% endif %}
            <input type="button" value="답글달기" onclick="reComment('{{firstcomment.id}}', 'electronic', '{{ csrf_token }}');">
        {% endif %}
        
        <br>
            {% for secondcomment in secondcomments %}
                {% if secondcomment.parent == firstcomment.id %}
                    &nbsp&nbsp<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{{ secondcomment.text }}
                    {% if secondcomment.user == request.user.username or request.user.is_superuser %}
                        <a class="glyphicon glyphicon-remove" aria-hidden="true" href="{% url 'electronic:delete_comment' post.id secondcomment.id %}" ></a>
                        <br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <div id="{{firstcomment.id}}form"></div>
    {% endfor %} <br> <hr>

    <form action="{% url 'electronic:addComment' post.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="댓글쓰기">
    </form>


{% endblock %}