.new-form label {
}

.form-title {
    text-align: center;
}

.new-title {
    width: 720;
}

.form-content {
    text-align: center;
}

.form-notice {
    text-align: center;
}

.form-submit {
    text-align: center;
}